body {
    background-color: rgb(20,20,20);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}